In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import math
import seaborn as sns

In [3]:
raw = pd.read_excel('S&P_500_Researcher_Dataset_1979_-_2018.xlsx', sheet_name=None)

In [10]:
raw_share_prices = raw['Share Prices']
type(raw_share_prices)

pandas.core.frame.DataFrame

In [13]:
raw_share_prices = raw_share_prices.fillna(0)

In [14]:
raw_share_prices.head()

,Ticker,ISIN Code,Company Name,1979-03-31 00:00:00,1979-06-30 00:00:00,1979-09-30 00:00:00,1979-12-31 00:00:00,1980-03-31 00:00:00,1980-06-30 00:00:00,1980-09-30 00:00:00,...,2017-12-31 00:00:00,2018-01-31 00:00:00,2018-02-28 00:00:00,2018-03-31 00:00:00,2018-04-30 00:00:00,2018-05-31 00:00:00,2018-06-30 00:00:00,2018-07-31 00:00:00,2018-08-31 00:00:00,2018-09-30 00:00:00
0,A,US00846U1016,Agilent Technologies Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,66.97,73.43,68.59,66.90,65.74,61.92,61.84,66.04,67.54,70.54
1,AA,US0138171014,Alcoa Inc,54.38,51.38,58.88,54.88,58.25,58.75,72.5,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,AAL,US02376R1023,American Airlines Group,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,52.03,54.32,54.25,51.96,42.93,43.54,37.96,39.54,40.48,41.33
3,AAL (Alex),US0144761055,Alexander & Alexander,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,AAP,US00751Y1064,Advance Auto Parts Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,99.69,116.99,114.25,118.55,114.45,128.62,135.70,141.23,164.03,168.33

In [27]:
raw_share_prices.set_index(raw_share_prices['Ticker'], inplace=True)

In [53]:
test_data = raw_share_prices.loc[['MSFT', 'AAPL', 'HD', 'JNJ']]

In [71]:
import matplotlib.pyplot as plt

In [72]:
test_data.plot
plt.show()

In [ ]:
raw_share_prices.transpose()

In [20]:
raw_share_prices.axes

[RangeIndex(start=0, stop=1405, step=1),
 Index([           'Ticker',         'ISIN Code',      'Company Name',
        1979-03-31 00:00:00, 1979-06-30 00:00:00, 1979-09-30 00:00:00,
        1979-12-31 00:00:00, 1980-03-31 00:00:00, 1980-06-30 00:00:00,
        1980-09-30 00:00:00,
        ...
        2017-12-31 00:00:00, 2018-01-31 00:00:00, 2018-02-28 00:00:00,
        2018-03-31 00:00:00, 2018-04-30 00:00:00, 2018-05-31 00:00:00,
        2018-06-30 00:00:00, 2018-07-31 00:00:00, 2018-08-31 00:00:00,
        2018-09-30 00:00:00],
       dtype='object', length=272)]